body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(circle, gold 0%, purple 75%);
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tracker {
  margin: 25px auto;
  max-width: 70%;
  padding: 25px;
}

.button {
  margin: 45px auto;
  padding: 10px;
}

.dog, .judge {
  margin-bottom: 1em;
}

.dog h3 {
  margin-bottom: 1em;
}