body {
  font-family: sans-serif;
  background-image: radial-gradient(circle, gold 0%, purple 75%);
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10em;
}

.tracker {
  margin: 25px auto;
  max-width: 70%;
  padding: 25px;
}

.button {
  margin: 45px auto;
  padding: 10px;
}

.dog,
.judge {
  margin-bottom: 1em;
}

.dog h3 {
  margin-bottom: 1em;
}
